<!DOCTYPE html >
<html lang="en" ng-app="addBulletin">

<head>
    <title>Add or Edit a Bulletin</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <link href="css/project.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span>Bulletin Home</span></a >
                <a class="navbar-brand" href="/"><span>Add or Edit a Bulletin</span></a >
                <a class="navbar-brand" href="/"><span>Bulletin Sample</span></a >
		  </div >
	</div >
</nav >

<div class="container main-content" ng-controller="FormCtrl">
	<form ng-submit="onSubmit(theForm.$valid)" name="theForm">
        <h4>Enter a Title and Message</h4>
        
		<div class="form-group" >
           
			<label for="title" >Title</label >
			<input type="text"
			       class="form-control"
                   ng-model="formModel.title"
			       id="title" >
		</div >

		<div class="form-group border-bottom" ng-class="{'has-error':!theForm.message.$vaild && !theForm.$pristine, 'has-success':theForm.message.$vaild && !theForm.$pristine }">
			<label for="message">Message</label >
            <textarea type="text" class="form-control" rows="6" ng-model="formModel.message" id="message" required="required" name="message"></textarea>
		</div >
    
        <h4>Enter a UTC date range for when the bulletin is active:</h4>
		<div class="form-group date-picker" >
			<label for="username" >Starts On</label >
            <input id='datetimepicker1' type='text' class="form-control input-group date" />
            <span class="input-group-addon"><img src="img/calendar-icon.png"/></span>
            <select class="form-control number-picker">
              <option>00</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
            <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
                <option>11</option>
              <option>12</option> 
              <option>13</option>
              <option>14</option>
              <option>15</option>
                <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            <option>21</option>
              <option>22</option>
              <option>23</option>
            </select>
            <span class="colon">:</span>
            <select class="form-control number-picker">
               <option>00</option>
               <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
            <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
                <option>11</option>
              <option>12</option> 
              <option>13</option>
              <option>14</option>
              <option>15</option>
                <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            <option>21</option>
              <option>22</option>
              <option>23</option>
            </select>
		</div >

		<div class="form-group border-bottom date-picker" >
			<label for="age" >Ends On</label >
			<input id='datetimepicker1' type='text' class="form-control input-group date" />
            <span class="input-group-addon"><img src="img/calendar-icon.png"/></span>
            <select class="form-control number-picker">
              <option>00</option>
               <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
            <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
                <option>11</option>
              <option>12</option> 
              <option>13</option>
              <option>14</option>
              <option>15</option>
                <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            <option>21</option>
              <option>22</option>
              <option>23</option>
            </select>
            <span class="colon">:</span>
            <select class="form-control number-picker">
               <option>00</option>
               <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
            <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
                <option>11</option>
              <option>12</option> 
              <option>13</option>
              <option>14</option>
              <option>15</option>
                <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            <option>21</option>
              <option>22</option>
              <option>23</option>
            </select>
		</div >
        
        <h4>Enter Approval Information</h4>

		<div class="form-group" >
			<label for="approved" >Approved</label >
			<input type="checkbox" 
                   name="approved"
			        id="approved"
				    class="form-control"
                    ng-model="formModel.approved">
		</div >

		<div class="form-group" >
			<label for="password" >Approved On</label >
			<input id='datetimepicker1' type='text' class="form-control input-group date" />
            <span class="input-group-addon"><img src="img/calendar-icon.png"/></span>
        </div>
        <div class="form-group border-bottom" >
			<label for="password" >Approver Name</label >
			<input type="password"
			       class="form-control"
                   ng-model="formModel.password"
			       id="password" >
		</div >
        
        <h4>Enter Other Settings</h4>
        <div class="form-group" >
            <label for="enabled" >Enabled</label >
            <input type="checkbox" 
                   name="enabled"
			        id="enabled"
				    class="form-control"
                    ng-model="formModel.enabled">
        </div>
        <div class="form-group date-picker" >
			<label for="username" >Starts on</label >
            <input id='datetimepicker1' type='text' class="form-control input-group date" />
            <span class="input-group-addon"><img src="img/calendar-icon.png"/></span>
            <select class="form-control number-picker">
              <option>00</option>
               <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
            <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
                <option>11</option>
              <option>12</option> 
              <option>13</option>
              <option>14</option>
              <option>15</option>
                <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            <option>21</option>
              <option>22</option>
              <option>23</option>
            </select>
            <span class="colon">:</span>
            <select class="form-control number-picker">
               <option>00</option>
               <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
            <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
                <option>11</option>
              <option>12</option> 
              <option>13</option>
              <option>14</option>
              <option>15</option>
                <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
            <option>21</option>
              <option>22</option>
              <option>23</option>
            </select>
		</div >

		<div class="form-group">
			<button class="btn button-success" type="submit">Save</button>
		</div>
        
	</form >
        
</div >



<script src="js/angular.min.js" ></script>
<script src="js/main.js" ></script>


</body>
</html>