<!DOCTYPE html >
<html lang="en" ng-app="addBulletin">
<head >
	<title >Add or Edit a Bulletin</title >
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" >
	<link href="css/custom.css" rel="stylesheet" type="text/css" >
	<link href="css/project.css" rel="stylesheet" type="text/css" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand" href="/"><span>Bulletin Home</span></a >
			<a class="navbar-brand" href="/"><span>Add or Edit a Bulletin</span></a >
			<a class="navbar-brand" href="/"><span>Bulletin Sample</span></a >
			<a class="navbar-brand" href="/"><span>Preview Active Bulletins</span></a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="FormCtrl">

	<form ng-submit="onSubmit(theForm.$valid)" name="theForm" novalidate="novalidate">
        
		<div class="form-group" >
			<label for="title" >Title</label >
			<input type="text"
			       class="form-control"
                   ng-model="formModel.title"
			       id="title" >
		</div >

		<div class="form-group" ng-class="{'has-error':!theForm.email.$vaild && !theForm.$pristine, 'has-success':theForm.email.$vaild && !theForm.$pristine }">
			<label for="message" >Message</label >
            <textarea type="text" class="form-control" rows="6" ng-model="formModel.message" id="message" required="required" name=email></textarea>
            
            <pre>Field Valid? {{ theForm.email.$valid }}</pre>
            <pre>Field Pristine? {{ theForm.$pristine }}</pre>
		</div >
    
        
        <hr />

		<div class="form-group" >
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
                   ng-model="formModel.username"
			       id="username" >
		</div >

		<div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
                   ng-model="formModel.age"
			       id="age" >
		</div >
        
        <hr />

		<div class="form-group" >
			<label for="sex" >Sex</label >
			<select name="sex"
			        id="sex"
				    class="form-control"
                    ng-model="formModel.sex">
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
                   ng-model="formModel.password"
			       id="password" >
		</div >
        
		<div class="form-group">
			<button class="btn button-success" type="submit">Save</button>
		</div>

	</form >
    
</div >


<script src="js/angular.min.js" ></script>
<script src="js/main.js" ></script>


</body>
</html>
